@model Product
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Slider</h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input id="formFile" asp-for="Photo" accept="image/*" class="form-control">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input class="form-control" asp-for="Price" placeholder="Enter Price" >
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category"></label>
                        <select class="form-control" asp-for="CategoryId">
                            <option value="" selected>Choose...</option>
                            @foreach (Category ctg in ViewBag.Category)
                            {
                             <option value="@ctg.Id">@ctg.Name</option>}
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a class="btn btn-light" asp-area="Admin" asp-controller="Flower" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script
{
    <partial name="_ValidationPartial.cshtml" />

}

